header ul.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: inherit ;
  border-bottom: 2px solid #1890ff ;
  font-size: 18px ;
}

header ul {
  margin-top: 20px;
}

header ul.ant-menu-root {
  display: inline-block;
  font-size: 16px;
  position: relative;
}

header ul.ant-menu.ant-menu-dark li.ant-menu-item:hover {
  border-bottom: 2px solid #d1d5da;
}

header ul.ant-menu li {
  margin-right: 16px;
}

ul.ant-menu.ant-menu-sub .header-sub-group div {
  color: #87888a;
}