.ant-menu-item > a {
  display: inline-block;
}

.ant-menu-inline-collapsed>.ant-menu-item .anticon + a {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}

div.ant-table-wrapper .ant-table-thead>tr>th,
div.ant-table-wrapper .ant-table-tbody>tr>td {
  padding: 7px 7px;
}